@media screen and (max-width:400px) {
    .nav-container{

        
        flex-direction: column;
        
        }
        /* .nav-container p{
           
            font-size: 20px;
        }
         */
        .nav-item-container{

            flex-direction: column;
            width: 100%;
            }
            .nav-item-container a{
                margin-top: 20px;
            }
            .nav-item-container .follow-btn{

                width: 100%;
                margin-bottom: 10px;
            }
            .banner-container{
    
               flex-direction: column;
            }
            .banner-text ,.banner-img{
                width: 100%;
                margin-bottom: 20px;
            }
            .banner-text h1{
                font-size: 30px;
            }
            .banner-text p{
                font-size: 40px;
            }
            .fa-solid{
                font-size: 20px;
            }
            .second-banner-container{
                flex-direction: column;
            }
            .second-banner-img ,.second-banner-desc {
                width: 100%;
                margin-bottom: 20px;
            }
            .second-banner-desc h3{
                font-size: 30px;
            }
            .second-banner-desc p
            {
                font-size: 15px;
            }
            .input.right{
                flex-direction: column;
            }
            .second-banner-desc .point{
               
                font-size: 15px;
            }
            .video{
                flex-direction: column;
            }
            .image{
               margin-top: 20px;
            }
            .No-Downloads{
                width: 100%;
                flex-direction: column;
               gap: 10px;
            }
          
}